@import "src/assets/styles/variables";

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 25px;

  a, button{
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color:#4285F4;
    margin-left: -1px;
    border:1px solid #4285F4;
    line-height: 1.5;
    &.active{
      cursor: default;
      border-color: #4285F4;
      background:#4285F4;
      color:#fff;
    }
    &:active{
      outline: none;
      border-color: #4285F4;
      background:#4285F4;
      color:#fff;
    }
    background:#fff;
    &:hover{
      background:#eee;
    }
  }

  li{
    display: inline;
    text-align: center;
  }
}

.page-number{
  float: right;
  color: $navy-blue;
  letter-spacing: 3px;
  text-shadow: 0.3rem 0.4rem 0.4rem $shadow;
  margin-top: 30px;
}

.activeButton{
  background:#008ABF !important;
  border-color: #008ABF !important;
  color:#fff !important;
}
