<div class="container ">
  <p class="header" *ngIf="galleries.length">Amount of galleries: {{galleries.length}}</p>
  <app-gallery-search *ngIf="galleries.length" (searchValue)="setSearchValue($event)"></app-gallery-search>
  <ul class="filter-container">Filter By Year:
    <li class="year-filter" (click)="filterByYear(2005)">2005</li>
    <li class="year-filter" (click)="filterByYear(2015)">2015</li>
    <li class="year-filter" (click)="filterByYear(2019)">2019</li>
    <li class="year-filter" (click)="filterByYear('')">Show All</li>
  </ul>
  <div class="row gallery-row" *ngIf="galleries.length">
    <app-gallery-item *ngFor="let item of galleries | searchGalleries: searchValue | slice:start:end; trackBy:item?.id"
                      [gallery]="item"
                      (deleteGallery)="removeGallery($event)"
                      class="grid-4 gallery">
    </app-gallery-item>
  </div>
  <div class="button-container">
    <button class="main-button" (click)="showGalleryForm=true">Add gallery</button>
    <button class="main-button" (click)="exportGalleries()">Export galleries</button>
    <button class="main-button" (click)="removeGalleries()">Remove galleries</button>
  </div>

  <div class="row gallery-row" *ngIf="showGalleryForm">
    <div class="grid-8 text-right">
      <button class="main-button" (click)="showGalleryForm=false">Back</button>
    </div>
    <app-gallery-form (savedGallery)="saveGallery($event)"></app-gallery-form>
  </div>


  <div class="pagination filter-container" *ngIf="galleries">
    <button [className]="currentPage == 0 ? 'button': ''" (click)="getPreviousPage()"><<</button>
    <span *ngFor="let item of numberOfPages; let i = index">
                    <button class="button" [className]="currentPage == i ? 'activeButton': ''"
                            (click)="setCurrentPage(i)">{{i + 1}}</button>
      </span>
    <button (click)="getNextPage()">>></button>
  </div>
  <div class="page-number" *ngIf="numberOfPages">
    Page number: {{(currentPage + 1)}}/{{numberOfPages.length}}
  </div>
</div>

