<div class="container">
  <h3 class="form-header">Add new gallery:</h3>
  <form #galleryForm="ngForm" novalidate>
    <div class="input-group input-box"
         [ngClass]="{'input-error': (galleryForm.controls['title']?.touched ||
           galleryForm.submitted) && galleryForm.controls['title']?.invalid}">
      <input type="text" class="input-control" name="title"
             [(ngModel)]="gallery.title" required>
      <label>Gallery Title</label>
      <p class="error-text" *ngIf="galleryForm.controls['title']?.errors?.required">Gallery title required!</p>
    </div>

    <div class="input-group input-box"
         [ngClass]="{'input-error': (galleryForm.controls['thumbUrl']?.touched ||
           galleryForm.submitted) && galleryForm.controls['thumbUrl']?.invalid}">
      <label>Main Photo</label>
      <input type="text" class="input-control" name="thumbUrl"
             [(ngModel)]="gallery.thumbUrl" required>
      <p class="error-text" *ngIf="galleryForm.controls['thumbUrl']?.errors?.required">Main photo required!</p>
    </div>

    <div class="input-group input-box"
         [ngClass]="{'input-error': (galleryForm.controls['description']?.touched ||
           galleryForm.submitted) && galleryForm.controls['description']?.invalid}">
      <textarea type="text" name="message"
                [(ngModel)]="gallery.description" required></textarea>
      <label>Gallery description</label>
      <p class="error-text message-error" *ngIf="galleryForm.controls['description']?.errors?.required">Description
        required!</p>
    </div>

    <button class="main-button"
            [disabled]="galleryForm.invalid && galleryForm.submitted"
            (click)="addGallery()">
      Save
    </button>
    <button type="button" class="main-button" (click)="onCancel()"> Cancel</button>
  </form>
</div>

