@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import 'icons';

@font-face {
    font-family: 'GreatVibes';
    src: url('../fonts/GreatVibes-Regular.ttf')format('truetype');
}