@import "src/assets/styles/variables";

$color1: #95a5a6;
$color2: #e74c3c;
$color3: #fff;
$color4: #3498db;
$color5: #2ecc71;
$color6: #555;
$sp1: 0.6em;
$sp2: 2em;
$sp3: 3em;
$sp4: 4em;
$width1: 500px;

.input-control {
  display: block;
  width: 100%;
  height: $input-height-small;
  padding: $input-padding-small;
  font-size: 14px;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $border-radius-base;
  box-shadow: none;
  outline: none;
  transition: border-color ease-in-out .15s;
  font-family: $font-family-base;

  &:focus {
    border-color: $input-border-focus;
  }

  &.input-small {
    height: $input-height-small;
    padding: $input-padding-small;
  }

  &.disabled, &[disabled], &[readonly], fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &.disabled, &[disabled], fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  &::-moz-placeholder {
    color: $gray;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $gray;
  }

  // Internet Explorer 10+
  &::-webkit-input-placeholder {
    color: $gray;
  }

  // Safari and Chrome


  &.has-error, &.input-error {
    border-color: $brand-danger;
  }
}

textarea,
textarea.input-control {
  height: 100px;
  resize: vertical;
}

.input-group {
  margin-bottom: 20px;

  .error-text {
    display: none;
  }

  //input states on validation
  &.input-error {

    .error-text {
      display: inline-block;
      position: absolute;
      top: 34px;
      padding-bottom: 15px;
      color: $brand-danger;
      margin-bottom: 15px;
    }

    .message-error {
      top: 110px !important;
    }

    .input-control {
      &.input-error {
        border-color: $brand-danger;
      }

      border-color: $brand-danger;
    }
  }
}

.form-header {
  color: $navy-blue;
  letter-spacing: 3px;
  text-shadow: 0.3rem 0.4rem 0.4rem $shadow;
  margin: 1em;
}

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: $width1;
  padding: $sp4;
  z-index: 1;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 0 white;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 0 white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 0 white;
  letter-spacing: .1em;

  .input-box {
    display: flex;
    position: relative;
    margin-bottom: $sp3;
    width: 100%;

    textarea {
      resize: vertical;
    }

    input, textarea {
      width: 100%;
      padding: $sp1;
      border: 1px solid rgb(191, 191, 191);
      border-radius: 3px;
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
      color: $color6;
      font: 300 12px/160% sans-serif;
    }
  }

  textarea:focus + label,
  input:focus +
  label {
    left: 0px;
    color: $color4;
    letter-spacing: .6em;
    transition: .6s;

  }

  label {
    position: absolute;
    top: -20px;
    left: 0;
    font: 700 10px/200% sans-serif;
    color: $color1;
    text-transform: uppercase;
    transition: .6s;
  }
}

