/* ----------- COLORS ------------- */

$black:                     #0000;
$darker-gray:               #383838;
$shadow:                    rgba(0, 0, 0, 0.4);
$dark-shadow:               rgba(0, 0, 0, 0.1);
$dark-gradient:             rgba(255, 255, 255, 0);
$gradient-two:              rgba(255, 255, 255, 0.2);
$gradient:                  rgba(255, 255, 255, 0.6);
$dark-gray:                 #535353;
$gray:                      #989898;
$light-gray:                #bdbdbd;
$lighter-gray:              #e0e0e0;
$lightest-gray:             #eee;
$white:                     #ffffff;

$body-background:           #bdd8f1;
$border-blue:               #008ABF;
$brand-primary:             #20A5FF;
$brand-primary-hover:       #2C8AC9;
$brand-primary-active:      #1592E6;
$brand-primary-bg:          #e0eef7;
$navy-blue:                 rgba(0, 35, 122, 0.7);

$brand-success:             #2EDBB0;
$brand-success-hover:       #1FD7A9;
$brand-success-active:      lighten($brand-success, 10);
$brand-success-bg:          #e7f5f2;

$brand-info:                #a267c6;
$brand-info-bg:             #ede3f4;

$brand-warning:             #fab63a;
$brand-warning-bg:          #f7ebd7;

$brand-danger:              #FF605C;
$brand-danger-hover:        #FF5252;
$brand-danger-active:       #F74C4C;
$brand-danger-bg:           #fde7e5;

$body-bg:                   #f7f7f7;
$ivory:                     #D0CFCE;

$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

/* ----------- TYPOGRAPHY ------------- */
/* ----- Basic fonts, headers, links --------- */

$line-height-base:          1.4;

$font-family-base:          'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-color-base:           $dark-gray;
$font-size-base:            16px; //14px;
$font-size-small:           14px; //12px;
$font-size-vsmall:          13px; //12px;
$font-size-large:           18px; //16px;

$font-size-h1:              32px;
$font-size-h2:              28px;
$font-size-h3:              24px;
$font-size-h4:              18px;
$font-size-h5:              16px;
$font-size-h6:              14px;

$link-color:                $brand-primary;
$link-color-hover:          $brand-primary-hover;

/* ----------- BUTTONS ------------- */

$btn-color:                 #fff;
$btn-font-size:             $font-size-base;
$btn-font-weight:           normal;
$btn-border-width:          1px;
$btn-border-color:          $lighter-gray;
$btn-border-radius-base:    $border-radius-base;
$btn-default-bg-hover:      #f3f3f3;

$btn-large-font-size:       17px;
$btn-small-font-size:       $font-size-small;

/* -------------- FORMS ---------------*/

$input-bg:                  #fff;
$input-bg-disabled:         $lighter-gray;
$input-border-disabled:     $lighter-gray;
$input-color:               $gray;
$input-border:              $lighter-gray;
$input-border-focus:        $brand-primary;

$input-color-placeholder:   $light-gray;

$input-height-base:         40px;
$input-height-large:        50px;
$input-height-small:        30px;

$input-padding-base:        9px 12px;
$input-padding-large:       14px 12px;
$input-padding-small:       4px 8px;

//** Disabled cursor
$cursor-disabled:           not-allowed;


