@import 'gridle/gridle';
@import 'gridle/settings-mixins';
@import 'gridle/gridle-flex';
@import 'grid-settings';

* {
    box-sizing: border-box;
}

.container {
    @include gridle_container();
    max-width: 1420px;
    margin: 0 auto;
    position: relative;

    padding: 10px 10px 20px 10px;

    @include gridle_generate_classes();

  .row {
    display: flex;
    flex-wrap: wrap;
  }
}


