@import "variables";
@import "reset";
@import "mixins";
@import "grid";
@import "buttons";
@import "fonts";
@import "forms";
@import "icons";
@import "text";
@import "app";


body {
  margin: 0;
  padding: 3em 0em;
}

br {
  padding-bottom: 10px;
}

.component-content {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90%;
  grid-template-columns: repeat(auto-fit, minmax(auto, 20em));
  grid-gap: 1em;
  padding: 2em 1em;
  background: white;

  @media all and (min-width: 600px) {
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(auto, 28em));
    justify-content: center;
  }
}

.grid-container {
  display: grid;
  height: 400px;
  align-content: center;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  align-content: stretch;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem $shadow;
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 400px;
  height: 260px;
  object-fit: contain;
  transition: transform 400ms ease-out;
  position: relative;
}

.gallery-image:hover {
  transform: scale(1.15);
}

.gallery-title {
  align-items: center;
  justify-content: center;
  display: flex;
}

.bg-items {
  padding: 20px;
  width: 240px;
  height: 160px;
  margin: 20px;
  background-color: white;
  float: left;
}

.details {
  background-color: $shadow;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $white;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.gallery-image:hover .details {
  visibility: visible;
  opacity: 1;
}

.gallery-image:hover .description {
  transform: translateY(0);
}

.description {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  line-height: 20px;
  padding: 30px 40px 30px 40px;
  transition: .2s;
  transform: translateY(1em);
}

.search-container {
  width: 490px;
  display: block;
  margin: 0 auto;
}

.search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid $ivory;
  outline: none;

  &:focus {
    border: 1px solid $border-blue;
    transition: 0.35s ease;
    color: $border-blue;

    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }

    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 260px;
  margin: 5px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid $border-blue;
  color: $border-blue;
  letter-spacing: 1px;
  text-shadow: 0;
  font: {
    size: 12px;
    font-weight: bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    color: white;
    background: $border-blue;
  }
}

.header {
  text-align: center;
  color: $navy-blue;
  letter-spacing: 3px;
  text-shadow: 0.3rem 0.4rem 0.4rem $shadow;
  margin: 1em;
}

.coursive-header {
  font-family: GreatVibes;
  font-size: xx-large;
  float: right;
  padding: 0 1em 3em 0;
  color: $navy-blue;
}

.filter-container {
  text-align: center;
  cursor: pointer;
}

.year-filter {
  text-align: center;
  display: inline-block;
  margin: 1rem;
}

.tag-form {
  margin-top: 20px;
}


//Comments section

.gallery-comments {
  margin: 40px auto 0;
  max-width: 972px;
  padding: 0 20px;
}

.comment-wrap {
  margin-bottom: 20px;
  display: table;
  width: 100%;
  min-height: 85px;
}

.comment-block {
  padding: 16px;
  background-color: #fff;
  vertical-align: top;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 1.08);
  margin-bottom: 20px;
  position: relative;

  label {
    left: 0px;
    color: $color4;
  }
}

.comment-text {
  margin-bottom: 20px;
  font-style: italic;
}

.comment-actions {
  float: right;

  button {
    position: absolute;
    right: 5px;
    top: 8px;
  }

  &:hover {
    color: $border-blue;
  }
}
