<div *ngIf="gallery">
  <h2 class="header">{{gallery.title}}</h2>
  <p class="header">{{gallery.description}}</p>
  <p class="header">Date of creation: {{gallery.dateCreated | polishDate }}</p>
  <div class="header">Tags: <p *ngFor="let tag of gallery.tags" class="year-filter">{{tag.tag}}</p>
  </div>

  <div class="gallery">
    <img *ngFor="let img of gallery.photos" [src]="img.imgUrl">
  </div>
  <br><small>galleryId: {{gallery.galleryId}}</small>

  <!--  DODAWANIE ZDJĘCIA:-->

  <app-gallery-photo-form
    (addPhoto)="addNewPhoto($event)"
    (closeForm)="closePhotoForm()"
    *ngIf="showPhotoForm"
  ></app-gallery-photo-form>
  <div *ngIf="showPhotosToRemove">
    <h4>Remove photo: </h4>
    <span *ngFor="let item of gallery.photos"
          class="label">
      {{item.photoId}}
      <i (click)="removePhoto(item.photoId)" class="fa fa-remove"></i>
</span>
  </div>

  <!--EDYCJA GALERII-->

  <app-gallery-form
    *ngIf="showGalleryForm"
    (savedGallery)="saveGallery($event)"
    [gallery]="gallery"
    (closeForm)="closeGalleryForm()">
  </app-gallery-form>

  <!--  DODAWANIE TAGU:-->

  <div class="tag-form">
    <app-gallery-tag-form
      (addTag)="addTag($event)"
      (closeForm)="closeTagForm()"
      *ngIf="showTagForm"
    ></app-gallery-tag-form>
  </div>

  <div *ngIf="showTagsToRemove">
    <h4>Remove tag: </h4>
    <span *ngFor="let item of gallery.tags"
          class="label">
      {{item.tag}}
      <i (click)="removeTag(item.tag)" class="fa fa-remove"></i>
  </span>
  </div>

  <!--  DODAWANIE KOMENTARZA:-->

  <app-comment-form
    *ngIf="showCommentsForm"
    (addComment)="addComment($event)"
    (closeForm)="closeCommentForm()"
    [galleryId]="gallery.galleryId"
  ></app-comment-form>

  <button class="main-button" (click)="openGalleryForm()">Edit Gallery</button>
  <button class="main-button" (click)="openCommentsForm()"> Add New Comment</button>
  <button class="main-button" (click)="openTagForm()"> Add New Tag</button>
  <button class="main-button" (click)="showTags()"> Remove Tag</button>
  <button class="main-button" (click)="openPhotoForm()"> Add New Photo</button>
  <button class="main-button" (click)="showIdOfPhotos()"> Remove Photo</button>


  <!--      <i class="fa fa-remove" (click)="removePhoto(photo.photoId)"></i>-->

  <app-comment-item *ngIf="comments"
                    [comments]="comments" [galleryId]="galleryId">
  </app-comment-item>
</div>
