@import "src/assets/styles/variables";
$time: 0.3s;

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdd8f1;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(5, 15vh);
  grid-template-columns: repeat(2, 20vw);
  transition: all $time ease(gravity);
  border-radius: 10px;
  padding: 0.25em;
  cursor: zoom-in;

  @media (min-width: 40em) {
    grid-template-columns: repeat(5, 18vw);
    grid-template-rows: repeat(2, 20vh);
  }

  @media (min-width: 60em) {
    grid-template-columns: repeat(10, 14vw);
    grid-template-rows: 50vh;
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all $time/2 ease(downhill);
  position: relative;
  box-shadow: 0 0 0 #0000;
  opacity: 0.67;
  filter: sepia(80%) hue-rotate(180deg);

  &:first-child {
    border-radius: 10px 10px 0 0;
  }

  &:last-child {
    border-radius: 0 0 10px 10px;
  }

  @media (min-width: 40em) and (max-width: 59.99em) {
    &:first-child {
      border-radius: 10px 0 0 0;
    }

    &:nth-child(5) {
      border-radius: 0 10px 0 0;
    }

    &:nth-child(6) {
      border-radius: 0 0 10px 0;
    }

    &:last-child {
      border-radius: 0 0 0 10px;
    }
  }

  @media (min-width: 60em) {
    &:first-child {
      border-radius: 10px 0 0 10px;
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
    }
  }

  &:hover {
    opacity: 1;
    z-index: 1;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.4);
    transition: all $time ease(downhill);
    filter: sepia(0%) hue-rotate(0deg);
    border-radius: 5px;
    width: 240%;
    height: 400%;
    left: -28%;
    top: -260%;

    @media (min-width: 40em) {
      width: 300%;
      height: 500%;
      left: -75%;
      top: -200%;
    }

    @media (min-width: 60em) and (orientation: landscape) {
      width: 260%;
      height: 200%;
      left: -28%;
      top: -90%;
    }
  }
}
