<div class="container">
  <h3 class="form-header">Leave a comment:</h3>
  <form #commentForm="ngForm" novalidate>
    <div class="input-group input-box"
         [ngClass]="{'input-error': (commentForm.controls['firstName']?.touched ||
           commentForm.submitted) && commentForm.controls['firstName']?.invalid}">
      <input type="text" class="input-control" name="firstName"
             [(ngModel)]="comment.firstName" required>
      <label>First Name</label>
      <p class="error-text" *ngIf="commentForm.controls['firstName']?.errors?.required">First name required!</p>
    </div>

    <div class="input-group input-box"
         [ngClass]="{'input-error': (commentForm.controls['lastName']?.touched ||
           commentForm.submitted) && commentForm.controls['lastName']?.invalid}">
      <input type="text" class="input-control" name="lastName"
             [(ngModel)]="comment.lastName" required>
      <label>Last Name</label>
      <p class="error-text" *ngIf="commentForm.controls['lastName']?.errors?.required">Last name required!</p>
    </div>

    <div class="input-group input-box"
         [ngClass]="{'input-error': (commentForm.controls['email']?.touched ||
           commentForm.submitted) && commentForm.controls['email']?.invalid}">
      <input type="text" class="input-control" name="email"
             [(ngModel)]="comment.email" [pattern]="emailPattern" required>
      <label>E-mail</label>
      <p class="error-text" *ngIf="commentForm.controls['email']?.errors?.required">Email address required!</p>
      <p class="error-text" *ngIf="commentForm.controls['email']?.errors?.pattern">Input email address in valid
        form!</p>
    </div>

    <div class="input-group input-box"
         [ngClass]="{'input-error': (commentForm.controls['message']?.touched ||
           commentForm.submitted) && commentForm.controls['message']?.invalid}">
      <textarea type="text" name="message"
                [(ngModel)]="comment.message" required></textarea>
      <label>Message</label>
      <p class="error-text message-error" *ngIf="commentForm.controls['message']?.errors?.required">Message
        required!</p>
    </div>

    <button class="main-button" (click)="submitComment()"
            [disabled]="!commentForm.form.valid && commentForm.invalid">Submit
    </button>
    <button class="main-button" (click)="cancelComment()">Cancel</button>
  </form>
</div>
