<div class="container">
  <h3 class="form-header">Add new tag:</h3>
  <form #tagForm="ngForm">
    <div class="input-group input-box">
      <input
        type="text"
        class="input-control"
        name="galleryTag"
        [(ngModel)]="tag"
        placeholder="Add photo tag"
        required>
    </div>

    <button class="main-button"
            type="button"
            (click)="onSubmit()"
            [disabled]="tagForm.invalid">
      Add Tag
    </button>
    <button type="button" class="main-button"
            (click)="onCancel()">
      Cancel
    </button>
  </form>
</div>
