<div class="component-content">
  <p class="gallery-title header">{{gallery.title}}</p>
  <div class="gallery-item">
    <div class="gallery-image items">
      <a routerLink="/galleries/{{gallery.galleryId}}" class="thumb-container">
        <img src="{{gallery.thumbUrl}}">
        <div class="details">
          <p class="description">Date: {{gallery.dateCreated | polishDate }}<br>
            {{gallery.description}}</p>
        </div>
      </a>
    </div>
  </div>
  <div class="button-container">
    <button class="main-button" (click)="onDelete(gallery.galleryId)">Delete</button>
  </div>
</div>
