<div class="container">
  <h3 class="form-header">Add new photo:</h3>
  <form #photoForm="ngForm" novalidate>
    <div class="input-group input-box"
         [ngClass]="{'input-error': (photoForm.controls['imgUrl']?.touched ||
          photoForm.submitted) && photoForm.controls['imgUrl']?.invalid}">
      <input type="text" class="input-control" name="imgUrl"
             [(ngModel)]="photo.imgUrl" required>
      <label>Full-sized photo</label>
      <p class="error-text" *ngIf="photoForm.controls['imgUrl']?.errors?.required">Required Field</p>
    </div>

    <div class="input-group input-box"
         [ngClass]="{'input-error': (photoForm.controls['thumbUrl']?.touched ||
          photoForm.submitted) && photoForm.controls['thumbUrl']?.invalid}">
      <input type="text" class="input-control" name="thumbUrl"
             [(ngModel)]="photo.thumbUrl" required>
      <label>Miniature photo</label>
      <p class="error-text" *ngIf="photoForm.controls['thumbUrl']?.errors?.required">Required Field</p>
    </div>
    <button class="main-button"
            [disabled]="photoForm.invalid && photoForm.submitted"
            (click)="onAddPhoto()"> Add Photo
    </button>
    <button type="button" class="main-button" (click)="onCancel()"> Cancel</button>
  </form>
</div>
