<div class="gallery-comments">
  <div class="comment-wrap">
    <h3 class="form-header">Comments: </h3>
      <div class="comment-block" *ngFor="let comment of comments">
        <label>Author: </label>
        <p class="comment-text">{{comment.firstName}}</p>
        <label>Comment:</label>
        <p class="comment-text">{{comment.message}}</p>
        <ul class="comment-actions">
          <button (click)="removeComment(comment.commentId)" class="fa fa-remove"></button>
        </ul>
      </div>
  </div>
</div>
