@import "../../../assets/styles/_variables";

.navbar {
  max-width: 960px;
  mask-image: linear-gradient(90deg, $dark-gradient 0%, $white 25%, $white 75%, $dark-gradient 100%);
  margin: 0 auto;
  padding: 40px 0 10px 0;
}

.navbar ul {
  text-align: center;
  background: linear-gradient(90deg, $dark-gradient 0%, $gradient-two 25%, $gradient-two 75%, $dark-gradient 100%);
  box-shadow: 0 0 25px $dark-shadow, inset 0 0 1px $gradient;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: $navy-blue;
  font-size: 18px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.navbar ul li a:hover {
  box-shadow: 0 0 10px $dark-shadow, inset 0 0 1px $gradient;
  background: $dark-gradient;
  color: $navy-blue;
}
