<h1 class="header">{{title}}</h1>
<span class="coursive-header">{{description}} </span>
<div class="navbar">
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="is-active">Home</a></li>
    <li><a routerLink="/galleries" routerLinkActive="is-active">Galleries</a></li>
    <li><a routerLink="/contact" routerLinkActive="is-active">Contact</a></li>
  </ul>
</div>
